#logWindow {
    overflow: auto;
    position: absolute;
    width: 90%;
    height: 30%;
    top: 65%;
    left: 2%;
    right: 20%;
    bottom: 50%;
    background-color: rgba(0, 0, 0, 0.299);
    z-index: 20;
  }